.Burger {
    width: 60%;
    margin: auto;
    height: 200px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.BurgerMini {
    float: left;
    width: 200px;
    margin-top: 30px;
    margin-right: auto;
    height: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    overflow: scroll;
}

@media (min-width: 500px) and (min-height: 300px) {
    .Burger {
        width: 350px;
        height: 300px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .Burger {
        width: 450px;
        height: 400px;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .Burger {
        width: 600px;
        height: 500px;
    }
}


@media (max-width: 600px) {
    .BurgerMini {
        width: 120px;
        height: 100px;
    }
}


@media (max-width: 580px) {
    .BurgerMini {
        display: none;
    }
}