.Order {
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    position: relative;

}

.Order p {
    text-align: left;
    margin-left: 300px;
}

.Order strong {
        text-transform:uppercase;
        display: inline-block;
        margin: 8px;
        border: 1px solid #ccc;
        padding: 5px;
}

.Order span {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 2rem;
    color: rgb(163, 159, 159);
    cursor: pointer;
}


@media (max-width: 800px) {
    .Order p strong{
        display: block;
    }
}

@media (max-width: 600px) {
    .Order p {
        display: block;
        width: 50%;
        margin: auto;
        text-align: right;
    }
}

@media (max-width: 450px) {
    .Order p {
        width: 70%;
    }

    .Order span {
        right: 0;
        top: 0;
    }
}