
.NavLi {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}

.NavLi a,
.NavLi span {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
}

.NavLi a:hover,
.NavLi span:hover,
.NavLi a:active,
.NavLi a.active {
    background-color: #8f5c2c;
    border-bottom: 4px solid #40a4c8;
    color: white; 
}

.Main {
    margin-right: auto;
}

@media (max-width: 450px) {
    .NavLi {
        /* border: 1px solid white; */
    }

    .NavLi a,
    .NavLi span {
        text-decoration: none;
    }
}