.Nav {
    height: 100%;
}

.Nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;

}



@media (max-width: 450px) {
    .Nav {
        width: 100%;
    }
    .Nav ul {
        justify-content: space-between;
    }
}

